<form 
  #alumnosForm="ngForm" 
  (ngSubmit)="agregaAlumno()"> 
  <ion-label>Nombre alumno:</ion-label>
  <ion-input 
    required="true" 
    [(ngModel)]="alumno.nombre" 
    placeholder="Nombre" 
    name="nombre">
  </ion-input>
  <ion-label>
    <br>
    <ion-checkbox 
      required="true" 
      [(ngModel)]="alumno.presente" 
      name="presente"> 
      Presente</ion-checkbox>
  </ion-label>
  <div>
    <br>
    <ion-button 
      shape="round" 
      type="submit" 
      fill="outline"
      color="dark"
      mode="ion-item-sliding"
      [disabled]="alumnosForm.invalid">Agregar</ion-button>
  </div>
</form>

<ion-card>
  <ion-list *ngFor="let a of alumnos">
    
      <ion-item>
        <ion-label>{{a.nombre}}</ion-label>
      </ion-item>

  </ion-list>
</ion-card>

<!--<ion-card >
  <ion-list *ngFor="let a of alumnos">
    <ion-item-sliding>
      <ion-item>
        <ion-label>{{a.nombre}}</ion-label>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg">
          <ion-label>{{a.nombre}}</ion-label>
        </ion-avatar>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="Delete()">
          <ion-icon name="trash" class="icono"></ion-icon>
        </ion-item-option>
      </ion-item-options>      
    </ion-item-sliding>
  </ion-list>
</ion-card>-->
